<div class="limiter">
    <div class="container-login100 banner_start">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(assets/images/banner2.jpg);">
                <span class="login100-form-title-1">
                    Medical
                </span>
            </div>

            <form class="login100-form validate-form" [formGroup]="forgotPasswordForm">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required" *ngIf="!otpFlag">
                    <span class="label-input100">Email:</span>
                    <input class="input100" type="text" formControlName="email"  name="username" placeholder="Enter email">
                    <!-- <span class="focus-input100" *ngIf="forgotPasswordForm.controls['email'].status=='INVALID' && forgotPasswordForm.controls['email'].touched">
                      Invalid Email Id
                    </span> -->
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required" *ngIf="otpFlag">
                    <span class="label-input100">OTP</span>
                    <input class="input100" type="text" name="pass" maxlength="4" formControlName="otp" placeholder="Enter otp">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30" *ngIf="otpFlag">
                    <div class="contact100-form-checkbox">
                        <!-- <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" (change)="rememberMeFunc()">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label> -->
                    </div>
                    <div>
                        <a  class="txt1" (click)="forgotPasswordFunc()">
                            Resend Otp?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn" *ngIf="!otpFlag">
                    <button class="login100-form-btn" (click)="forgotPasswordFunc()">
                        GET OTP
                    </button>
                </div>
                <div class="container-login100-form-btn" *ngIf="otpFlag">
                    <button class="login100-form-btn"  (click)="verifyOtpFunc()">
                        Verify
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>