 
    <!-- Content -->
    <div class="content">
        <!-- Animated -->
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-lg-3 col-md-6" (click)="goToUserList()">
                    <div class="card" >
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-4">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">{{userCount?.client}}</span></div>
                                        <div class="stat-heading">Clients</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <i class="fa fa-user-md"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">{{userCount?.doctor}}</span></div>
                                        <div class="stat-heading">Doctors</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-2">
                                    <i class="fa fa-exclamation-circle"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">{{userCount?.pending}}</span></div>
                                        <div class="stat-heading">Pending</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-3">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">{{userCount?.complete}}</span></div>
                                        <div class="stat-heading">Completed</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Widgets -->
            <!--  Traffic  -->
            <!--  /Traffic -->
            <div class="clearfix"></div>
            <!-- Orders -->
            <div class="orders">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="box-title">Non-Pending Requests </h4>
                            </div>
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th class="serial">#</th>
                                                <th class="avatar">Report Image</th>
                                                <!-- <th>ID</th> -->
                                                <th>Client Name</th>
                                                <th>Assigned Doctor</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let report of reportList; let i = index;">
                                                <td class="serial">{{i + 1}}</td>
                                                <td class="avatar">
                                                    <div class="round-img">
                                                        <a *ngIf="!(report.reporturl.includes('.pdf'))" (click)="downloadReportFunc(report.reporturl)"><img class="rounded-circle" [src]="report.reporturl" alt=""></a>
                                                        <a *ngIf="(report['reporturl'].includes('.pdf'))" [href]="report.reporturl" target="_blank">PDF</a>
                                                    </div>
                                                </td>
                                                <td>  <span class="name">{{report?.clientName}}</span> </td>
                                                <td> <span class="product">{{report?.assignedDocterName}}</span> </td>
                                                <td><span class="count">{{report?.createdAt | date : 'short'}}</span></td>
                                                <td>
                                                    <span class="badge badge-complete">{{report?.status}}</span>
                                                </td>
                                            </tr>
                                            <tr *ngIf="reportList == ''">
                                                <td class="serial">No Report List Available</td>  
                                            </tr>                                      
                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>
                        </div> <!-- /.card -->
                    </div>  <!-- /.col-lg-8 -->

                </div>
            </div>
            <!-- /.orders -->
            <!-- To Do and Live Chat -->
            <!-- /To Do and Live Chat -->
            <!-- Calender Chart Weather  -->
            <!-- /Calender Chart Weather -->
            <!-- Modal - Calendar - Add New Event -->
            <!-- /#event-modal -->
            <!-- Modal - Calendar - Add Category -->
        <!-- /#add-category -->
        </div>
        <!-- .animated -->
    </div>
    <!-- Content -->
  
