<!-- Content -->
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Add Client/Doctor</strong>
                    </div>
                    <div class="card-body card-block">
                        <form   class="form-horizontal" [formGroup]="userForm">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">First Name</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="text-input" formControlName="firstName" name="text-input" placeholder="First Name" class="form-control"><small class="help-block form-text" *ngIf="(userForm['controls'].firstName.status != 'VALID')&&userForm['controls'].firstName.touched">Please enter valid first name</small></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Last Name</label></div>
                                <div class="col-12 col-md-9"><input type="text" formControlName="lastName" id="text-input" name="text-input" placeholder="Last Name" class="form-control"><small class="help-block form-text" *ngIf="(userForm['controls'].lastName.status != 'VALID')&&userForm['controls'].lastName.touched">Please enter valid last name</small></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="email-input" class=" form-control-label">Enter Email</label></div>
                                <div class="col-12 col-md-9"><input type="email" id="email-input" formControlName="email" name="email-input" placeholder="Enter Email" class="form-control"><small class="help-block form-text" *ngIf="(userForm['controls'].email.status != 'VALID')&&userForm['controls'].email.touched">Please enter valid email</small></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="password-input" class=" form-control-label">Enter Password</label></div>
                                <div class="col-12 col-md-9"><input type="password" id="password-input" formControlName="password" name="password-input" placeholder="Enter Password" class="form-control"><small class="help-block form-text" *ngIf="(userForm['controls'].password.status != 'VALID')&&userForm['controls'].password.touched">Please enter strong password</small></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="password-input" class=" form-control-label">Re-enter Password</label></div>
                                <div class="col-12 col-md-9"><input type="password" id="password-input" formControlName="confirmPassword" name="password-input" placeholder="Re-enter Password" class="form-control"><small class="help-block form-text" *ngIf="(userForm.value.password != userForm.value.confirmPassword)&&userForm['controls'].password.touched">Confirm Password doesnot match with password</small></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="password-input" class=" form-control-label">Contact Number</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" formControlName="contact" maxlength="10" placeholder="Contact Number" class="form-control"><small class="help-block form-text" *ngIf="(userForm['controls'].contact.status != 'VALID')&&userForm['controls'].contact.touched">Please enter valid contact number</small></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="select" class=" form-control-label">Select User Type</label></div>
                                <div class="col-12 col-md-9">
                                    <select name="select" id="select" class="form-control" formControlName="userType">
                                        <option value="0">Please select</option>
                                        <option value="2">Client</option>
                                        <option value="3">Doctor</option>
                                    </select>
                                    <small class="help-block form-text" *ngIf="(userForm['controls'].userType.status != 'VALID')&&userForm['controls'].userType.touched">Please select user type</small>
                                </div>
                            </div>
                            <!-- <div class="row form-group">
                                <div class="col col-md-3"><label for="file-input" class=" form-control-label">Choose Report</label></div>
                                <div class="col-12 col-md-9"><input type="file" id="file-input" formControlName="file" name="file-input" class="form-control-file" accept=".pdf">
                                <small class="help-block form-text" *ngIf="(userForm['controls'].file.status != 'VALID')&&userForm['controls'].file.touched">Please select report</small></div>
                            </div> -->
                        </form>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn-submit btn btn-primary btn-sm" [disabled]="userForm.invalid || (userForm.value.password != userForm.value.confirmPassword)"  (click)="addUserFunc()">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="reset" class="btn-reset btn btn-danger btn-sm" (click)="initializeForm()">
                            <i class="fa fa-ban"></i> Reset
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    <!-- .animated -->
</div>
<!-- /.content -->