
                            <div class="orders">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="box-title">Report List:</h4>
                                            </div>
                                            <div class="card-body--">
                                                <div class="table-stats order-table ov-h">
                                                    <table class="table ">
                                                        <thead>
                                                            <tr>
                                                                <th class="serial">#</th>
                                                                <th class="avatar">Report Image</th>                                            
                                                                <th>Client Name:</th>
                                                                <th class="text-center">Report Analysis</th>
                                                                <th class="text-center">Status</th>
                                                                <th class="text-center">Date</th>
                                                                <th class="text-center">Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let report of reportList; let i = index;">
                                                                <td class="serial">{{i+1}}</td>
                                                                <td class="avatar">
                                                                    <div class="round-img">
                                                                        <a *ngIf="!(report.reporturl.includes('.pdf'))" (click)="downloadReportFunc(report.reporturl)"><img class="rounded-circle" [src]="report.reporturl" alt=""></a>
                                                                        <a *ngIf="(report['reporturl'].includes('.pdf'))" [href]="report.reporturl" target="_blank">{{report?.reportName}}</a>
                                                                        <!-- <i class="fa fa-download" aria-hidden="true"></i> -->
                                                                    </div>
                                                                </td>
                                                                <td>  <span class="name text-center">{{report?.clientName}}</span> </td>
                                                                <td class="text-center" > <span class="badge badge-complete" *ngIf="report.status == 'IN PROGRESS'" (click)="analyseFunc(report)">Analyse</span><span class="count" *ngIf="(report.status != 'IN PROGRESS')&&(report.status != 'Complete')&&(report.status != 'COMPLETE')" >----</span><span class="badge badge-complete" *ngIf="(report.status == 'Complete')||(report.status == 'COMPLETE')" style="background: red;" (click)="viewReport(report['_id'])">View Report</span></td>
                                                                <td  class="text-center"> <span class="product">{{report?.status}}</span> </td>
                                                                <td class="text-center" ><span class="count">{{report?.createdAt | date: 'short'}}</span></td>
                                                                <td class="text-center" *ngIf="report.status == 'Assigned'"><a style="padding: 2px;" (click)="acceptReport(report)"><i class="fa fa-check fa-2x" style="color: green;"></i></a>
                                                                    <a style="padding: 2px;" (click)="denyReport(report)"><i class="fa fa-times fa-2x" style="color: red;"></i></a> </td>
                                                                    <td class="text-center" *ngIf="report.status != 'Assigned'"><span>---</span> </td>
                                                            </tr> 
                                                            <tr *ngIf="reportList == ''">
                                                                <td class="serial">No Report List Available</td>   
                                                            </tr>                                        
                                                        </tbody>
                                                    </table>
                                                </div> <!-- /.table-stats -->
                                            </div>
                                            <!-- <div class="card-footer">
                                                <a class="links btn btn-primary btn-sm" >
                                                    <input type="file" id="file-input"  name="file-input" class="form-control-file" (change)="getImageData($event)">
                                                </a>
                                            </div> -->
                                        </div> <!-- /.card -->
                                    </div>  <!-- /.col-lg-8 -->
                                </div>
                            </div>
