<!-- Content -->
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <!-- /Widgets -->
        <!--  Traffic  -->
        <!--  /Traffic -->
        <div class="clearfix"></div>
        <!-- Orders -->
        <div class="orders">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">Client/Users </h4>
                        </div>
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th class="serial">#</th>
                                            <!-- <th class="avatar">Avatar</th>                                             -->
                                            <th>Name</th>
                                            <th class="text-center">Role</th>
                                            <th class="text-center">Contact</th>
                                            <th class="text-center">Email</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let user of userList; let i = index;">
                                            <td class="serial">{{i+1}}</td>
                                            <!-- <td class="avatar">
                                                <div class="round-img">
                                                    <a><img class="rounded-circle" src="assets/images/avatar/1.jpg" alt=""></a>
                                                </div>
                                            </td> -->
                                            <td>  <span class="name text-center">{{user?.firstName}}{{user?.lastName}}</span> </td>
                                            <td *ngIf="user.role == '2'" class="text-center"> <span class="product">Client</span> </td>
                                            <td  *ngIf="user.role == '3'" class="text-center"> <span class="product">Doctor</span> </td>
                                            <td class="text-center"><span class="count">{{user?.mobileNumber}}</span></td>
                                            <td class="text-center"><span class="count">{{user?.email}}</span></td>
                                            <td class="text-center">
                                                <!-- <a class="icon-style" (click)=""><i class="fa fa-eye fa-2x"></i></a> -->
                                                <a class="icon-style" (click)="editUserFunction(user._id)"><i class="fa fa-pencil fa-2x"></i></a>
                                                <a class="icon-style" (click)="deleteUserFunction(user._id)"><i class="fa fa-trash fa-2x"></i></a>
                                                <!-- <a><i class="fa fa-check fa-2x"></i></a>
                                                <a><i class="fa fa-times fa-2x"></i></a> -->
                                            </td>
                                        </tr>                                       
                                    </tbody>
                                </table>
                            </div> <!-- /.table-stats -->
                        </div>
                        <div class="card-footer">
                            <a class="links btn btn-primary btn-sm" [routerLink]="['/add-user']">
                                <i class="fa fa-plus"></i> Add User
                            </a>
                            <!-- <a class="links btn btn-sm" style="background-color: #fb5c5c">
                                <i class="fa fa-cloud-download"></i> Download PDF
                            </a>
                            <a class="links btn btn-success btn-sm">
                                <i class="fa fa-download"></i> Download CSV
                            </a> -->
                        </div>
                    </div> <!-- /.card -->
                </div>  <!-- /.col-lg-8 -->
            </div>
        </div>
    </div>
    <!-- .animated -->
</div>
<!-- /.content -->