<!-- Content -->
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <!-- /Widgets -->
        <!--  Traffic  -->
        <!--  /Traffic -->
        <div class="clearfix"></div>
        <!-- Orders -->
        <div class="orders">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="box-title">Client/Users </h4>
                        </div>
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th class="serial">#</th>
                                            <th class="avatar">Avatar</th>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Role</th>
                                            <th class="text-right">Quantity</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="serial">1.</td>
                                            <td class="avatar">
                                                <div class="round-img">
                                                    <a><img class="rounded-circle" src="assets/images/avatar/1.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td> #5469 </td>
                                            <td>  <span class="name">Louis Stanley</span> </td>
                                            <td> <span class="product">Doctor</span> </td>
                                            <td class="text-right"><span class="count">231</span></td>
                                            <td class="text-center">
                                                <a class="icon-style"><i class="fa fa-eye fa-2x"></i></a>
                                                <a class="icon-style"><i class="fa fa-pencil fa-2x"></i></a>
                                                <a class="icon-style"><i class="fa fa-trash fa-2x"></i></a>
                                                <!-- <a><i class="fa fa-check fa-2x"></i></a>
                                                <a><i class="fa fa-times fa-2x"></i></a> -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="serial">2.</td>
                                            <td class="avatar">
                                                <div class="round-img">
                                                    <a><img class="rounded-circle" src="assets/assets/images/avatar/2.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td> #5468 </td>
                                            <td>  <span class="name">Gregory Dixon</span> </td>
                                            <td> <span class="product">Client</span> </td>
                                            <td class="text-right"><span class="count">231</span></td>
                                            <td class="text-center">
                                                <a class="icon-style"><i class="fa fa-eye fa-2x"></i></a>
                                                <a class="icon-style"><i class="fa fa-pencil fa-2x"></i></a>
                                                <a class="icon-style"><i class="fa fa-trash fa-2x"></i></a>
                                                <!-- <a><i class="fa fa-check fa-2x"></i></a>
                                                <a><i class="fa fa-times fa-2x"></i></a> -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="serial">3.</td>
                                            <td class="avatar">
                                                <div class="round-img">
                                                    <a><img class="rounded-circle" src="assets/assets/images/avatar/3.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td> #5467 </td>
                                            <td>  <span class="name">Catherine Dixon</span> </td>
                                            <td> <span class="product">Doctor</span> </td>
                                            <td class="text-right"><span class="count">231</span></td>
                                            <td class="text-center">
                                                <a class="icon-style"><i class="fa fa-eye fa-2x"></i></a>
                                                <a class="icon-style"><i class="fa fa-pencil fa-2x"></i></a>
                                                <a class="icon-style"><i class="fa fa-trash fa-2x"></i></a>
                                                <!-- <a><i class="fa fa-check fa-2x"></i></a>
                                                <a><i class="fa fa-times fa-2x"></i></a> -->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="serial">4.</td>
                                            <td class="avatar">
                                                <div class="round-img">
                                                    <a><img class="rounded-circle" src="assets/assets/images/avatar/4.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td> #5466 </td>
                                            <td>  <span class="name">Mary Silva</span> </td>
                                            <td> <span class="product">Client</span> </td>
                                            <td class="text-right"><span class="count">231</span></td>
                                            <td class="text-center">
                                                <a class="icon-style"><i class="fa fa-eye fa-2x"></i></a>
                                                <a class="icon-style"><i class="fa fa-pencil fa-2x"></i></a>
                                                <a class="icon-style"><i class="fa fa-trash fa-2x"></i></a>
                                                <!-- <a><i class="fa fa-check fa-2x"></i></a>
                                                <a><i class="fa fa-times fa-2x"></i></a> -->
                                            </td>
                                        </tr>
                                        <tr class=" pb-0">
                                            <td class="serial">5.</td>
                                            <td class="avatar pb-0">
                                                <div class="round-img">
                                                    <a><img class="rounded-circle" src="assets/assets/images/avatar/6.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td> #5465 </td>
                                            <td>  <span class="name">Johnny Stephens</span> </td>
                                            <td> <span class="product">Doctor</span> </td>
                                            <td class="text-right"><span class="count">231</span></td>
                                            <td class="text-center">
                                                <a class="icon-style"><i class="fa fa-eye fa-2x"></i></a>
                                                <a class="icon-style"><i class="fa fa-pencil fa-2x"></i></a>
                                                <a class="icon-style"><i class="fa fa-trash fa-2x"></i></a>
                                                <!-- <a><i class="fa fa-check fa-2x"></i></a>
                                                <a><i class="fa fa-times fa-2x"></i></a> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- /.table-stats -->
                        </div>
                        <div class="card-footer">
                            <a class="links btn btn-primary btn-sm" [routerLink]="['/add-user']">
                                <i class="fa fa-plus"></i> Add User
                            </a>
                            <a class="links btn btn-sm" style="background-color: #fb5c5c">
                                <i class="fa fa-cloud-download"></i> Download PDF
                            </a>
                            <a class="links btn btn-success btn-sm">
                                <i class="fa fa-download"></i> Download CSV
                            </a>
                        </div>
                    </div> <!-- /.card -->
                </div>  <!-- /.col-lg-8 -->

            </div>
        </div>
        <!-- /.orders -->
        <!-- To Do and Live Chat -->
        <!-- /To Do and Live Chat -->
        <!-- Calender Chart Weather  -->
        <!-- /Calender Chart Weather -->
        <!-- Modal - Calendar - Add New Event -->
        <!-- /#event-modal -->
        <!-- Modal - Calendar - Add Category -->
    <!-- /#add-category -->
    </div>
    <!-- .animated -->
</div>
<!-- /.content -->