<div class="limiter">
    <div class="container-login100 banner_start">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(images/banner2.jpg);">
                <span class="login100-form-title-1">
                    Medical
                </span>
            </div>

            <form class="login100-form validate-form" [formGroup]="resetPasswordForm">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">New Password:</span>
                    <input class="input100" type="password" formControlName="newPassword"  name="username" placeholder="Enter new password">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                    <span class="label-input100">Confirm Password</span>
                    <input class="input100" type="password" name="pass" formControlName="confirmPassword" placeholder="Enter confirm password">
                    <span class="focus-input100"></span>
                </div>

                <!-- <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me" (change)="rememberMeFunc()">
                        <label class="label-checkbox100" for="ckb1">
                            Remember me
                        </label>
                    </div>

                    <div>
                        <a  class="txt1" [routerLink]="['/forgot']">
                            Forgot Password?
                        </a>
                    </div>
                </div> -->

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="resetPasswordFunc()">
                        Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>